{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "esmodules": true }, "bugfixes": true }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./src/components",
          "store": "./src/store",
          "utils": "./src/utils",
          "services": "./src/services"
        }
      }
    ]
  ]
}
